body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0e0e10;
  color: white;
  font-family: sans-serif;
}

#root {
  width: 100%;
}
